body {
    font: 1.2em normal Arial, sans-serif;
    color: #34495E;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: -2px;
    font-size: 2.5em;
    margin: 20px 0;
}

.container {
    width: 95%;
    margin: auto;
}

table {
    border-collapse: collapse;
    width: 100%;
    border: 2px solid #1ABC9C;
}

thead {
    background: #1ABC9C;
    color: white;
    /*overflow: hidden;*/
    /*text-overflow: ellipsis;*/
}

th, td {
    text-align: center;
    padding: 5px 0;
}

tbody tr:nth-child(even) {
    background: #ECF0F1;
}

tbody tr:hover {
    background: #BDC3C7;
    color: #FFFFFF;
    cursor: pointer;
}

.fixed {
    top: 0;
    position: fixed;
    width: auto;
    display: none;
    border: none;
}

.scrollMore {
    margin-top: 600px;
}

.up {
    cursor: pointer;
}

.short-name {
    display: none;
}

thead th:nth-child(3) {
    position: relative;
    left: 30px;
}

@media screen and (max-width: 1100px) {
    thead th:nth-child(4),
    tbody td:nth-child(3) {
        display: none;
    }
    thead th:nth-child(3) {
    position: relative;
    left: 0;
}
}

@media screen and (max-width: 800px) {
    .long-name {
        display: none;
    }

    .short-name {
        display: inline;
    }

}



#red {
    background: red
}

.init:active .info {

    display: block;
}

.info:hover {
    display: block;
}

.info {
    position: absolute;
    top: 50%;
    left: 50%;
    display: none;
    z-index: 100;
    background-color: white;
    box-shadow: 5px 5px 2px #aaa;
    border: 1px solid grey;
    padding: 8px;
    width: 200px;
    height: 200px;
    color: black;
}

.info:active {
    display: none; /* Doesn't work because DCEvent is :active as well */
    height: 0px;
    width: 0px;
    left: -1000px;
    top: -1000px;
}

.init:active .overlay {
    display: block;
}

.overlay:hover {
    display: block;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    display: none;

    z-index: 100;
    background: rgba(0, 0, 0, 0.7);
    color: black;
}

.popup {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 100;
    background-color: white;
    box-shadow: 5px 5px 2px #aaa;
    border: 1px solid grey;
    padding: 8px;
    width: 400px;
    height: 200px;
    color: black;
    border-radius: 5px;
}

.overlay:active {
    display: none; /* Doesn't work because DCEvent is :active as well */
    height: 0px;
    width: 0px;
    left: -1000px;
    top: -1000px;
}

/*checkboxes*/

.controls {
    text-align: center;
}

input[type="checkbox"], .flyin, .flyout {
    display: none;
}

#flyin:checked ~ .container .flyin,
#flyout:checked ~ .container .flyout {
    display: table-row;
}

.check-flyin:after,
.check-flyout:after {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    vertical-align: middle;
    margin-left: 8px;
    background-color: #aaa;
    box-shadow: inset 0px 2px 2px rgba(0, 0, 0, .3);
    border-radius: 4px;

}

#flyin:checked ~ .controls .check-flyin:after,
#flyout:checked ~ .controls .check-flyout:after {
    content: "\2714"; /* Tick */
    color: white;
    background-color: #666;
    text-align: center;
    line-height: 15px;
    text-shadow: 0px 0px 3px #eee;
}