body {
    font: 1.2em normal Arial, sans-serif;
    color: #34495E;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: -2px;
    font-size: 2.5em;
    margin: 20px 0;
}

.container {
    width: 95%;
    margin: auto;
}

table {
    border-collapse: collapse;
    width: 100%;
    outline: 2px solid #1ABC9C;
    outline-offset: -2px;
}


thead {
    background: #1ABC9C;
    color: white;
}

th, td {
    text-align: center;
    padding: 5px 0;
}
td label {
    overflow: hidden;
    text-overflow: ellipsis;
}

.strip {
    background: #ECF0F1;
}


tbody tr:hover {
    background: #CCE7E7;
    cursor: pointer;
}

.vert-hover {
    background: #CCE7E7;
}

.fixed {
    top: 0;
    position: fixed;
    width: auto;
    display: none;
    border: none;
}

.scrollMore {
    margin-top: 600px;
}

.up {
    cursor: pointer;
}

.short-name {
    display: none;
}

thead th:nth-child(3) {
    position: relative;
    left: 40px;
}

.avia-table .fly_icon {
    background: url('../img/icon-plane.png') no-repeat;
    height: 16px;
    width: 20px;
}
.avia-table .icon-1 {
    background-position: 0 -19px;
}
.avia-table .icon-2 {
    background-position: -24px -19px;
}

@media screen and (max-width: 1100px) {
    thead th:nth-child(4),
    tbody td:nth-child(3) {
        display: none;
    }

    thead th:nth-child(3) {
        position: static;
        left: 0;
    }
}

@media screen and (max-width: 1000px) {
    thead th:nth-child(8),
    tbody td:nth-child(8),
    thead th:nth-child(7),
    tbody td:nth-child(7) {
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 75px;
    }

}

@media screen and (max-width: 900px) {

    thead th:nth-child(9),
    tbody td:nth-child(9) {
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 75px;
    }

}

@media screen and (max-width: 850px) {

    thead th:nth-child(10),
    tbody td:nth-child(10) {
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 75px;
    }
    .fly_type {
        display: none;
    }

    .avia-table .fly_icon {
        vertical-align: middle;
        display: inline-block;
    }
}

@media screen and (max-width: 800px) {
    .long-name {
        display: none;
    }

    .short-name {
        display: inline;
    }

    table {
        font-size: 14px;
    }

}

@media screen and (max-width: 650px) {
    thead th:nth-child(8),
    tbody td:nth-child(8),
    thead th:nth-child(7),
    tbody td:nth-child(7) {
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 50px;
    }

    thead th:nth-child(10),
    tbody td:nth-child(10) {
        display: none;
    }

    thead th:nth-child(3),
    tbody td:nth-child(4) {
        display: none;
    }

}

@media screen and (max-width: 450px) {
    thead th:nth-child(5),
    tbody td:nth-child(5) {
        display: none;
    }

}

@media screen and (max-width: 400px) {
    thead th:nth-child(6),
    tbody td:nth-child(6) {
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 70px;
    }

    thead th:nth-child(9),
    tbody td:nth-child(9) {
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 50px;
    }

}

/*popup*/
tbody tr td:nth-child(11) {
    visibility: hidden;
}

tbody tr td:nth-child(11) input[type="checkbox"]:checked + .overlay {
    visibility: visible;
}

tbody tr td label {
    display: inline-block;
    height: 100%;
    width: 100%;
    cursor: pointer;
}


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    visibility: hidden;
    z-index: 100;
    background: rgba(0, 0, 0, 0.7);
    color: black;
}

.popup {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 100;
    background-color: white;
    box-shadow: 2px 2px 2px #aaa;
    border: 1px solid grey;
    padding: 8px;
    width: 300px;
    height: 480px;
    color: black;
    border-radius: 5px;
    font-size: 15px;
}

.popup .close {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
    width: 20px;
    height: 20px;
    overflow: visible;
}
.popup .close:hover {
    color: orange;
}

.popup-table td{
    padding: 5px;
}

/*checkboxes*/

.controls {
    text-align: center;
}

#flyout,
#flyin,
.avia-table input[type="checkbox"],
.flyin,
.flyout {
    display: none;
}

#flyin:checked ~ .container .flyin,
#flyout:checked ~ .container .flyout {
    display: table-row;
}

.check-flyin:after,
.check-flyout:after {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    vertical-align: middle;
    margin-left: 8px;
    background-color: #aaa;
    box-shadow: inset 0px 2px 2px rgba(0, 0, 0, .3);
    border-radius: 4px;

}

#flyin:checked ~ .controls .check-flyin:after,
#flyout:checked ~ .controls .check-flyout:after {
    content: "\2714";
    color: white;
    background-color: #666;
    text-align: center;
    line-height: 15px;
    text-shadow: 0px 0px 3px #eee;
}

/* sprites */
.sprite {
    background-image: url('../img/aircompany-sprite.png');
    background-repeat: no-repeat;
    display: block;
}

.sprite-aeroflot-icon {
    width: 140px;
    height: 28px;
    background-position: -5px -5px;
}

.sprite-airbaltic-icon {
    width: 120px;
    height: 28px;
    background-position: -5px -43px;
}

.sprite-china-icon {
    width: 140px;
    height: 28px;
    background-position: -5px -81px;
}

.sprite-polishairlines-icon {
    width: 140px;
    height: 28px;
    background-position: -5px -119px;
}

.sprite-russia-icon {
    width: 140px;
    height: 28px;
    background-position: -5px -157px;
}

.sprite-transaero-icon {
    width: 140px;
    height: 28px;
    background-position: -155px -5px;
}

.sprite-utair-icon {
    width: 140px;
    height: 28px;
    background-position: -135px -43px;
}